@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
}

header{
    background-color: #2874f0;
}

.website-logo{
    display: flex;
    align-items: center;
}

.website-logo img{
    width: 100px;
    padding: 0 20px;
    border-radius: 5px;
    margin: 0 50px;
}

.search-bar{
    display: flex;
    align-items: center;
}

.search-bar input{
    width:660px;
    height:30px;
    padding: 0 10px;
}

nav ul{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height:60px;
}

nav ul li a:hover{
   
    border: 1px solid white;
    padding:10px;
    font-style:bold;
}

nav ul li{
    list-style: none;
    padding: 0 25px;
}

nav ul li a{
    color:white;
    text-decoration: none;
}
.category-img{
    display: block;
    max-width:230px;
    max-height:100px;
    width: auto;
    height: auto;
}

.categories{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.category-item{
    text-align: center;
}

.category-text{
    text-decoration: none;

    color: black;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.banner-img {
    margin:auto;
    width:80vw;
    margin:12px auto;
}


.card{
    max-width: 91vw;
  
    margin:auto;
}

.card-item{
   width: 12vw;
   display: inline-flex;
   flex-direction: column;
}

.my-1{
    margin: 5px 0;
}

.green-card-text{
    color:rgb(54, 255, 47)
}

.grey-card-text{
    color: rgb(128, 121, 121);
}

.center-align{
    text-align: center;
}

.card-items-list{
    display: flex;
    /* margin-top: 50px; */
    justify-content: space-around;
}

.footer-section{
    font-family: 'Roboto', sans-serif;
    height:100px;
    background-color: #2874f0;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer-section p{
    /* display: inline; */
    margin:auto;
    font-size: 1.5rem;
}

.footer-section p a{

    color:rgb(163, 64, 64);
    text-decoration: none;
}

.footer-section p a:hover{
    font-weight: bold;
}